@import './base.css';

img{
    width:100%;
    height:100%;
}
.link{
    text-decoration: none;
    color:white;
}
div, section{
    outline:none;
}


/* MAINTOPNAV FILES STYLES */
.main-top-nav-main-ctn{
    background-color:transparent;
    padding:10px 3vw;
    width:100%;
}
.main-top-nav-mini-ctn{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.user-welcome-msg{
    color:#000000;
    text-transform: capitalize;
}
.main-top-nav-main-nav-ctn{
    color:#000000;
    display:flex;
    flex-direction: row;
    gap:20px;
}
.search-box-ctn{
    width:400px;
    border-radius:100px;
    display:flex;
    flex-direction: row;
}
.search-box-ctn input{
    background-color: #ffffff;
    width:100%;
    border-radius:100px 0 0 100px;
    padding:5px 10px;
    font-size:16px;
}
.search-icon-ctn{
    background-color: #93200B;
    color:#fff;
    padding: 6px 20px;
    border-radius: 0 100px 100px 0;
}
.notication-content-ctn{
    display:flex;
    flex-direction:row;
}
.notification-red-dot{
    width:5px;
    height:5px;
    background-color: red;
    border-radius:50%;
    margin-left:-2px
}
.search-icon-ctn-general, .notication-content-ctn{
    margin:auto 0;
    font-size:20px;
}
@media screen and (max-width:870px) {
    .search-box-ctn{
        width:70%;
        position:absolute;
        top:35px;
        left:170px;
        margin-right:20px;
    }
}
@media screen and (max-width:700px) {
    .search-box-ctn{
        width:80%;
        right:0;
        left:50px;
    }
    .user-welcome-msg, .search-icon-ctn, .notification-icon-ctn{
        font-size: 14px;
    }
}
